<!DOCTYPE html>
<html>
   <head>
      <title>Image Overlay Example</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <link rel="shortcut icon" href="#">
       <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <style>
            #map {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              height: 100vh;
              width: 100vw;
              z-index: 1;
            }

            /*.leaflet-image-layer {*/
            /*  z-index: 2;*/
            /*}*/

      </style>
   </head>

   <body>
      <div id = "map"></div>
      <script>
         var map = L.map('map', {
              minZoom: 2
            }).setView([41.188806, 28.980162], 10);
         var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
             maxZoom: 19,
             attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
         })

         // Add only the selected layer back to the map
         var selectedLayer = osmLayer
         selectedLayer.addTo(map);


         // Creating Image overlay
         var imageUrl = '/static/kadikoy_jpeg.jpeg';
         var latLngBounds = [[40.9747965829999998, 29.0496402310000015], [41.0002034210000019, 29.0753493680000012]];
         var overlay = L.imageOverlay(imageUrl, latLngBounds);
         overlay.addTo(map);

         var drawnItems = new L.FeatureGroup();
         map.addLayer(drawnItems);

         var drawControl = new L.Control.Draw({
           edit: {
             featureGroup: drawnItems
           },
           draw: {
              polygon: true,
              marker: {
                 icon: new L.Icon.Default(),
                 repeatMode: true
              },
              circle: false,
              rectangle: false,
              polyline: false,
              circlemarker: false
           }
         });
         map.addControl(drawControl);
         var locationValue;
         // Initialize array to store previous markers and popups
            var markers = [];
         map.on('draw:created', function (e) {
           var layer = e.layer;
           drawnItems.addLayer(layer);

            var type = e.layerType,
               layer = e.layer;

            if (type === 'polygon') {
                // Do something with the polygon here, e.g. send it to the server
                var geojson = layer.toGeoJSON();
                locationValue = prompt("Please enter the location value:", "");
                console.log(geojson);
                $.ajax({
                  url: '/save-polygons',
                  type: 'POST',
                  data: JSON.stringify({polygons: geojson}),
                  contentType: 'application/json',
                  dataType: 'json',
                  success: function(response) {
                    console.log("success_return_log", response);
                    var addedLayer = L.geoJSON(response).addTo(map);

                      console.log("aloo: ", response['geometry']['rgb_mean_value'])
                        // Add the properties to the marker popup
                        var popup = layer.bindPopup('Location: ' + locationValue + '<br>RGB_Mean: '+ response['geometry']['rgb_mean_value']  , {once: true});
                        popup.openPopup();
                      // Add marker and popup to the array
                      // Create a new marker object and store a reference to it
                      var marker = L.marker(layer.getBounds().getCenter());
                      markers.push(marker);

                      // When the marker is clicked, open the popup again
                      marker.on('click', function(e) {
                        popup.openPopup();
                      });

                      // Add the marker to the map
                      marker.addTo(map);

                      // Fit the map to all of the markers
                      fitMapToMarkers(markers);

                  },
                  error: function(error) {
                    console.log("fail_return_log", error);
                  }
                });
              }
            else if (type === 'marker') {
                // Do something with the marker here, e.g. send it to the server
                locationValue = prompt("Please enter the location value:", "");

                $.ajax({
                    url: '/save-points',
                    type: 'POST',
                    data: JSON.stringify({points: layer.toGeoJSON()}),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function(response) {
                        console.log("success_return_log", response);
                        var addedLayer = L.geoJSON(response).addTo(map);
                        console.log('layer:', layer);
                        console.log('locationValue:', locationValue);
                        // Add the properties to the marker popup
                                // Add the properties to the marker popup
                        var popup = layer.bindPopup('Location: ' + locationValue + '<br>Red: '+ response['geometry']['red'] + '<br>Blue: '+ response['geometry']['blue'] + '<br>Green: '+ response['geometry']['green']   , {once: true});
                        popup.openPopup();

                        // Add marker and popup to the array
                          // Create a new marker object and store a reference to it
                          var marker = L.marker(layer.getLatLng());
                          markers.push(marker);

                          // When the marker is clicked, open the popup again
                            marker.on('click', function(e) {
                              popup.openPopup();
                            });

                          // Add the marker to the map
                          marker.addTo(map);

                          // Fit the map to all of the markers
                          fitMapToMarkers(markers);
                        // layer.openPopup();
                    },
                    error: function(error) {
                        console.log("fail_return_log", error);
                    }
                });
            }


         });

         function fitMapToMarkers(markers) {
          var bounds = new L.LatLngBounds();

          for (var i = 0; i < markers.length; i++) {
            bounds.extend(markers[i].getLatLng());
          }

          map.fitBounds(bounds);
        }


      </script>
   </body>

</html>